.menu {
    list-style: circle;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: aqua;
}

body {

    text-align: center;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

li {
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px
}

#myname {
    font-family: 'Courgette', cursive;
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

.pro {
    border-radius: 50%;
    width: 175px;
    margin-bottom: 50px;
}

#b {
    font-family: 'Cinzel Decorative', cursive;
    padding: 50px;
    text-align: center;
}
