img {
    transition: transform .2s;
    border: 10px solid #AQUA;
}

img:hover {
    transform: scale(0.9);
}

img {
    transition: transform .2s;
    border: 10px solid #AQUA;
}

img:hover {
    transform: scale(0.9);
}
